{% extends 'base.html' %}
{% block content %}
<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"/>
  <style>
    .container {
  padding: 2rem 0rem;
}

h4 {
  margin: 2rem 0rem 1rem;
}

.table-image {
  td, th {
    vertical-align: middle;
  }
}
  </style>

</head>
{% if object_list %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">E-mail</th>
            <th scope="col">Password</th>
            <th scope="col">Mobile</th>
            <th scope="col" colspan="2">Actions</th>
          </tr>
        </thead>

        <tbody>
        {% for user in object_list %}
          <tr>
            <th>{{user.id}}</th>
            <td>{{user.name}} </td>
            <td>{{user.email}}</td>
            <td>{{user.password}}</td>
            <td>{% for mob in user.numbers_set.all %}{{mob.mobile}}, {% endfor %}</td>
            <td >
              <button type="button" class="btn btn-success">
                <a href="{% url 'user_update_record' pk=user.id %}">
                  <i  class="fas fa-edit"></i>
                </a>
              </button>
            </td>
            <td>
              <form action="{% url 'delete_record' id=user.id %}" method="post">
                {% csrf_token %}
<!--                <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>-->
                <input type="submit" class="btn btn-danger"  value="Delete">
              </form>
            </td>
          </tr>
         {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}