{% extends 'base.html' %}

{% block content %}
<div class="container mt-5 bg-image text-white ">
    <div class="jumbotron">
      <h1 class="display-4">Welcome To PySquad Informatics LLP</h1>
      <p class="lead">PySquad make the process better with improving the software cycle and making the tailored system so the user gets what they want from the system..</p>
      <p>The company has served clients from more than 15 countries for providing them an array of services including Setting Up, Configuration, Customization, Integration and Migration..</p>
      <hr class="my-4">


 </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
  </script>

{% endblock %}